.achievement_category
{
  margin-bottom: 2em;
}

.achievement_category .category_title
{
  border-bottom: 2px solid #8ADDC0;
  padding-bottom: 0.3em;
  margin-bottom: 1em;
  color: #555;
}

.achievement_entry
{
  width: 300px;
  min-height: 80px;
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 1em;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
}

.achievement_entry.unlocked
{
  color: #333;
  background: #8ADDC0;
}

.achievement_entry.unlockable
{
  color: #CCC;
  background: #FFF;
}

.achievement_entry h4
{
  font-weight: normal;
}

.achievement_entry p
{
  color: #588C79;
}

.achievement_entry .date
{
  float: right;
  font-size: 80%;
}

/* User profile achievements widget */
.achievement_profile_box h3
{
  border-bottom: 2px solid #8ADDC0;
  padding-bottom: 0.3em;
}

.achievement_profile_list
{
  list-style: none;
  padding: 0;
  margin: 0.5em 0;
}

.achievement_profile_item
{
  padding: 0.3em 0;
  border-bottom: 1px solid #eee;
}

.achievement_profile_date
{
  float: right;
  font-size: 80%;
  color: #999;
}
