<div class="achievement_entry">
  <h3><%= l(achievement.locale_prefix(:title)) %></h3>
  <h4><%= l(achievement.locale_prefix(:description)) %></h4>
  &quot;<%= l(achievement.locale_prefix(:quote)) %>&quot;
</div>
