<h2><%= l(:"achievement.list_caption") %></h2>
<div class="achievements_list">
  <div class="achievement_entry">
    <%- @all_achievements.each do |achievement| %>
      <h3><%= l(achievement.locale_prefix(:title)) %></h3>
      <h4><%= l(achievement.locale_prefix(:description)) %></h4>
      &quot;<%= l(achievement.locale_prefix(:quote)) %>&quot;
    <%- end %>
  </div>
</div>
